<a href="/">Home</a>
<div>
  <span *ngIf="message">{{ message }}</span>
</div>
<div>
  <button type="button" id="join" (click)="join()">Join Audio</button>
  <button type="button" id="join_video" (click)="join()">Start Video</button>
  <button type="button" id="leave" (click)="leave()">Leave</button>
</div>
<div>
  <button type="button" id="inItScreen" (click)="inItScreen()">
    {{ isSharingEnabled ? "Stop Sharing" : "Share Screen" }}
  </button>
  <!-- <button type="button" id="muteVideo" (click)="muteVideo()">Mute Video</button> -->
  <!-- <br /><label> Local Audio Level :</label>
  <input
    type="range"
    min="0"
    id="localAudioVolume"
    max="100"
    step="1"
    #lav
    (change)="localAudioVolume(lav.value)"
  /><br />
  <label> Remote Audio Level :</label>
  <input
    type="range"
    min="0"
    id="remoteAudioVolume"
    max="100"
    step="1"
    #rav
    (change)="remoteAudioVolume(rav.value)"
  /> -->
</div>
<div class="video-wrapper" id="screenContainer"></div>
<div class="video-wrapper" id="remoteVideoContainer"></div>
<div class="video-wrapper" id="localVideoContainer"></div>
