<a href="/">Home</a>
<div>
  <span *ngIf="message">{{ message }}</span>
</div>
<div>
  <div>
    <button (click)="startRecording()">Start Recording</button>
    <button (click)="stopRecording()">Stop Recording</button>
  </div>
  <div>
    <button type="button" id="join" (click)="join()">Join Audio</button>
    <button type="button" id="joinVideo" (click)="joinVideo()">Start Video</button>
    <button type="button" id="shareScreen" (click)="shareScreen()">
      {{ isSharingScreen ? "Stop Sharing" : "Share Screen" }}
    </button>
  </div>
</div>
<div>
  <button *ngIf="inCall" id="leave" (click)="leave()">Leave</button>
</div>
<!-- <div>
  <button type="button" id="muteVideo" (click)="muteVideo()">Mute Video</button>
  <br /><label> Local Audio Level :</label>
  <input
    type="range"
    min="0"
    id="localAudioVolume"
    max="100"
    step="1"
    #lav
    (change)="localAudioVolume(lav.value)"
  /><br />
  <label> Remote Audio Level :</label>
  <input
    type="range"
    min="0"
    id="remoteAudioVolume"
    max="100"
    step="1"
    #rav
    (change)="remoteAudioVolume(rav.value)"
  />
</div> -->
<div class="participants">
  <p *ngFor="let user of channelParameters?.connectedUsers">
    {{ user.uid }}
  </p>
</div>
<div class="video-wrapper" #userWrapper>
  <div class="video-wrapper" #screenSharingContainer></div>
  <div class="video-wrapper" #localVideoContainer></div>
</div>
<div #participantsWrapper class="participantsWrapper">
</div>
